.container {
    max-width: 960px;
}

.ad {
    height: 100%;
    background-image: linear-gradient(45deg, #bec5cc 16.67%, #ffffff 16.67%, #ffffff 50%, #bec5cc 50%, #bec5cc 66.67%, #ffffff 66.67%, #ffffff 100%);
    background-size: 4.24px 4.24px;
}

.ad-sidebar {
    max-width: 320px;
}

.ad__label {
    position: absolute;
}

.ad__container {
    max-width: 320px;
    width: 100%;
    height: 0;
    padding-bottom: calc(2*52.3333333%);  /* 2 ads in example */
    z-index: 1;
}

.ad__container img {
    width: 100%;
}


/*!
 * Loader by: https://projects.lukehaas.me/css-loaders/
 */

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
