<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mariana Advertising Mock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="{{redirectURL}}">
        <img src="{{imageURL}}" alt="User-specific ad image">
    </a> 

    <p>
        This page shows the ad image and redirect urls that have been given by this example advertising partner api in action! You can click on the image here to be taken to the redirect link.
    </p>

    <p>
        To see how the ad will change based on the authenticated user, you can add a query parameter to the url of this page.  
        <a href="{{queryExampleURL}}">Try it out!</a>
    </p>
</body>
</html>