<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page{% if user_id %} for User {{ user_id }}{% endif %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% if user_id %}
            <h1>Hello, {{ user_id }}!</h1>
        {% else %}
            <h1>Hello!</h1>
        {% endif %}

        {% if is_targeted_user %}
            <p>This copy may be customized for VIP users.</p>
        {% else %}
            <p>This copy may be customized.</p>
        {% endif %}
    </body>
</html>
